* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 1px solid black; */
  }
  
  html {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  #body {
    max-width: 1400px;
    width: 100%;
    background-color: #fffefb;
  }